{% extends "base.html" %}


{% block content %}
<div id="main">
    <h3>O našem Centrume</h3>
    <div id="main-content">
        <div id="main-text">
            <p>
                Оbčianske združenie Nový dvor je umelecko-remeselné vzdelávacie centrum,
                ktoré slúži ako otvorená platforma pre súčasnú remeselnú činnosť, umelecké
                remeslo a umenie. Sme zameraní na propojenie týchto oblastí s reálnym životom
                a na dosiahnutie konečného cieľa - ovplyvňovať zvyšovanie kvality a bohatosti života.
            </p>
            <p>
                Nachádzame sa v krásnej obci Brhlovce, kde sa snažíme zachovať tradičné remeselné
                techniky a spôsoby práce. Naša misia je podporovať umelecké a remeselné zručnosti
                a vytvárať priestor pre vzdelávanie a tvorbu. Súčasťou nášho centra je aj malý obchod,
                kde môžete zakúpiť výrobky vyrobené našimi rukami. Tešíme sa na Vašu návštevu a spoločne
                sa nechajme inšpirovať krásou a jedinečnosťou umenia a remesiel.
            </p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1329.293870214884!2d18.737576679034312!3d48.21455619006082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa6a8868b44c16b98!2sNov%C3%BD%20dvor!5e0!3m2!1ssk!2ssk!4v1653485161630!5m2!1ssk!2ssk"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</div>
{% endblock %}