<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>Nový dvor</title>
    {% include 'base_part/css.html' %}
</head>
<body class="login-main">
    <form method="post">
        <h2>Login to admin panel</h2>
        <div class="login-inputs">
            <div class="login-input">
                <label><input type="text" name="name" placeholder="Login"></label>
            </div>
            <div class="login-input">
                <label><input type="password" name="password" placeholder="Password"></label>
            </div>
        </div>
        <button type="submit" class="shop_button">Sign in</button>
    </form>
</body>
</html>