{% extends "base.html" %}

{% block content %}
<div id="cart">
    <h1>Kosik</h1>
    <div>
        {% if cart %}
            {% for item in cart %}
                <div>
                    <p>{{ item[0].title }} x {{ item[1] }}: {{ item[2] }} EUR </p>
                </div>
            {% endfor %}
            <p>Celkom: {{ total }} EUR</p>
            <a href="/cart/send"><button class="shop_button">Objednat'</button></a>
        {% else %}
            <h5>Kosik prazdny</h5>
        {% endif %}
    </div>
</div>
{% endblock %}