{% extends "base.html" %}


{% block content %}

<div class="product-card-main" id="shop-item">
    <a href="/shop" id="back-href"><- Nasped'</a>
    <div id="shop-item-content">
        <img src="{{ url_for('static', filename='img/shop/' + res.src) }}" alt="{{ res.title }}">
        <div class="product-list">
            <h1>{{ res.title }}</h1>
            <p>{{ res.about }}</p>
            <p>Cena: {{ res.price }} EUR </p>
            <form method="post">
                <div>
                    <label for="quantity">Množstvo tovaru:</label>
                    <input type="number" id="quantity" name="quantity" min="1" max="{{ res.amount }}" value="1">
                </div>
                <button type="submit" class="shop_button">Pridat' do kosika</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}