{% extends "base.html" %}


{% block content %}
<div class="main">
    <div style="padding-left: 2%"><h3>Novy Dvor</h3></div>
    <div style="display: flex; flex-direction: row; align-items: flex-start; padding: 2%;">
        <div style="margin-right: 8%;">
            <p>
                Obcianske zdruzenie Novy dvor je umelecko-remeselne vzdelavacie centrum a je otvorenou platformou
                pre sucasnu remeselnu cinnost umelecke remeslo a umenie. Nasim hlavnym zamerom je prepajat tieyo oblasti s
                realnym zivotom s konecnym cielom vplyvat na zvysovanie kvality a bohatosti zivota
            </p>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1329.293870214884!2d18.737576679034312!3d48.21455619006082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa6a8868b44c16b98!2sNov%C3%BD%20dvor!5e0!3m2!1sru!2ssk!4v1653485161630!5m2!1sru!2ssk"
                    width="400" height="300" style="border:0;" allowfullscreen=""
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</div>
{% endblock %}