/* Login  */
.login-main {
    margin: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login-main form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}
.login-inputs {
    margin: 5% 0;
    display: flex;
    flex-direction: column;
}
.login-input {
    margin: 4% 0;
}